// Place all the styles related to the soundboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F9FFE7;
}

.title {
  color: #09c;
  font-family: "Permanent Marker";
  font-size: 3.6em;
  margin: 20px;
  max-width: 100%;
  text-align: center;
}

.spacer {
  width: 50%;
  margin-left: 25%;
  border-bottom: 3px solid #09c;
  margin-bottom: 34px;
  margin-top: 34px;
}

.bottom {
  margin-top: 68px;
}

.row {
  margin-top: 20px
}

.rapper-container {
  margin-bottom: 20px;
  cursor: pointer;
}

img {
  width:220px;
  height: 220px;
  position: relative;
}

.shadow {
  -webkit-filter: drop-shadow(10px 2px 6px rgba(3,3,3,0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.hidden {
  display:none;
}

.overlay {
  position: absolute;
  z-index: 1;
  opacity: .75;
}

.footer {
  color: #09c;
  margin-bottom: 34px;
  text-align: center;
  a{
    text-decoration: underline;
  }
}
